/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-size: 62.5%;
  overflow-x: hidden;

}

.wrapper {
  width:100%;
  margin:0 auto;
  min-height: 100vh;
}
/******************************************
/* LAYOUT
/*******************************************/
header {
  width:100%;
  text-transform: uppercase;
  font-size: 1rem;
  display:flex;
  justify-content: space-around;
}

header span {
  margin-top: 1.2rem;
}
 ul {
  list-style: none;
}

.mobile-menu-button{
  display:none;
}

.mobile-menu{
  visibility:hidden;
}

.show {
  transform:translate3d(-120%,0,0);
}

.hide{
  transform:translate3d(30%,0,0);
}

 .mobile-menu a{
  text-decoration: none;
  color:white;
}

.mobile-menu{
  display:flex;
  flex-direction: column;
  gap:0.6rem;
  width:30%;
  position:fixed;
  top:1.2rem;
  right: -10rem;
  z-index:10;
  /* background: rgba(255,255,255,0.6); */
  transition: all 0.5s ease-out;

}

.mobile-menu li{
  height:1.8rem;
  font-size: 1rem;
}

header img{
  margin: 0rem 0 0 3rem;
}

header li {
  display:inline-block;
  margin-right: 2.5rem;
}


/******************************************
/* SECTION 1
/*******************************************/

main {
  width:100vw;
  height: 100vh;
}


.inner {
  position:relative;
  top:0;
  left:0;
  width:100vw;
  height:95%;
  background: rgba(255,255,255,0.6) url(../images/adorable.jpg) center/cover no-repeat;
  clip-path: polygon(0 0,100% 0,100% 90%,90% 100%,0 80%);
  padding:0;
}

.main-content{
  position:absolute;
  top:10rem;
  left:0;
  margin-left: 5rem;
  height:22rem;
  width:60%;
  padding-left: 5rem;
  display:flex;
  flex-direction: column;

}

#side {
  float:right;
  text-transform: uppercase;
  transform: translate(30%,0) rotate(90deg) ;
  color:white;
  font-size: 1rem;
  margin-top: 25rem;

}

h1{
  font-size: 5rem;
  text-transform: uppercase;
  color:white;
  letter-spacing:0.1rem;
  margin:0;
}

main p {
  color:white;
  text-transform: uppercase;
  font-size: 1rem;
}

 button {
  background:black;
  width:8rem;
  height:2.5rem;
  color:white;
  padding:auto;
  font-size: 0.7rem;
  text-transform: uppercase;
  margin:1rem 0;
}

.info {
  position:absolute;
  top:43%;
  left:10%;
  background:black;
  transform:translate(12%,95%);
  z-index:10;
  color:white;
  text-transform: uppercase;
  padding-top: 2rem;
  display:flex;
  flex-direction: column;
}

.info span {
  font-size: 1rem;
  display: block;
  height:3rem;
  border-left: solid 2px white;
  padding-left: 1.5rem;
  width:100%;
  padding-top: 1.2rem;

}

h4{
  margin:3rem 0 0 0 1.5rem ;
  font-size: 0.9rem;
  padding-left: 1.5rem;
  line-height: 1.4;
  padding-right: 0.3rem;
}

#discount {
  border:none;
  padding:0;
  display: inline;
  margin:0;
  font-size: 1.9rem;
}

.info button {
  margin-left: 1.5rem;
  color:black;
  background:white;
  margin-bottom: 1rem;
  width:7rem;
}



/******************************************
/* SECTION 2
/*******************************************/

.services {
  margin:0 auto;
  width:90%;
  display: flex;
  padding:3rem 2rem;
  justify-content: center;
  gap:2rem;
}

.services section {
  text-align: center;
}

.services h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.services p {
  line-height: 1.4;
  font-size: 1rem;
}

/******************************************
/* SECTION 3
/*******************************************/
.section-3 {
  background:#f3f4f6;
  padding: 2rem 2rem;
  width:100%;
  display: flex;
  justify-content: center;
  gap:2rem;

}

.section-3 section {
 
  width:30%;
  flex-shrink:  1;

}

h2 {
  font-size: 2rem;
  text-transform: uppercase;
  margin:0;
}

.section-3 p{
  line-height: 1.4;
  font-size: 1rem;
}

.section-3 button {
  width: 6rem;
  height:2rem;
}

.image img{
  max-width:100%;
 height:100%;
}

.section-3 .content{
  display: flex;
  flex-direction: column;
  gap:1.5rem;
}



/******************************************
/* SECTION 4
/*******************************************/

.stylists {
   width:100%;
  padding:2rem 1rem;
  display: flex;
  justify-content: center;
  gap:2rem;
}

.stylists section {
  width:20%;
  background:#f2f3f5;
  height:22rem;
  display:flex;
  flex-direction: column;
  align-items: center;
  
}

.stylists div {
  width:80%;
  height:80%;
}

.stylist1 div {
  background: url(../images/salon4.jpg) center/cover;
}

.stylist2 div {
  background: url(../images/salon5.jpg) center/cover;
}

.stylist3 div {
  background: url(../images/stylist.jpg) center/cover;
}

.stylists a {
  padding: 0.5rem 0;
  text-decoration: none;
  color:white;
  display:block;
  background:black;
  width:10rem;
  height:2.5rem;
  font-size: 0.8rem;
  text-align: center;
  text-transform: uppercase;
}

a span {
  display:block;
  text-align: center;
  font-size: 0.6rem;
}





/******************************************
/* SECTION 5
/*******************************************/
.offer{
  width:60%;
  margin:0 auto;
  background:  url(../images/long-hair.jpeg) center/cover;
}

.details {
  text-transform: uppercase;
  display:flex;
  flex-direction: column;
  padding:4rem 2rem;
  color:white;

}

.details h3 {
  margin:0;
  font-size: 1.3rem;
}

.details span {
font-size: 0.9rem;
display:block;
margin-bottom: 0.5rem;
}

#offer-discount{
  font-size: 1.5rem;
  display:inline-block;
  margin-right: 0.3rem;
  font-weight: bold;
}

.details button {
  width:10rem;
  margin-top: 1rem;
}

.full-overlay {
  background:rgba(0,0,0,0.6);
  height:100%;
  width:100%;
}



/******************************************
/* SECTION 6
/*******************************************/

.lookbook{
  /* height:65vh; */
  margin:0 auto;
  padding: 3rem 0;
  display:flex;
  flex-direction: column;
 
}

.lookbook h4{
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  margin:0;
}

hr{
  width:1.5rem;
  margin-bottom: 2rem;
  color:black;
}

.lookbook .styles{
  width:50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  grid-auto-rows: minmax(10rem, auto);
  margin:0 auto;

}

.style1{
  background: url(/images/grid1.jpg) center/cover;
  grid-column: 1 ;
  grid-row: 1;
}


.style3{
  background: url(/images/grid3.jpg) center/cover;

  grid-column: 1 ;
  grid-row: 2/4;

}

.style2{
  background: url(/images/grid5.jpg) center/cover;

  
  grid-column: 2 ;
  grid-row: 1/3;
}


 .style5{
  background: url(/images/grid2.jpeg) center/cover;

  grid-column: 3 ;
  grid-row: 1;
}

.style6{
  background: url(/images/grid6.jpg) center/cover;

  grid-column: 3 ;
  grid-row: 2/4;
}


.style4{
  background: url(/images/grid4.jpg) center/cover;

  grid-column: 2 ;
  grid-row: 3/4;
} 


.overlay {
  background:black;
  height:100%;
  width:100%;
 
  grid-column: 2 ;
  grid-row: 3/4;
}

.overlay hr{
  width:3rem;
}

.overlay hr:first-child{
  position:relative;
  top:50%;
  left:0%;
  transform:translate(0%,-70%);
}

.overlay hr:nth-of-type(2){
  position:relative;
  top:27%;
  left:0%;
  transform:rotate(90deg);
}

.overlay:hover  {
  background:rgba(255,255,255,0.6);

}


/******************************************
/* MEDIA QUERIES
/*******************************************/
@media screen and (max-width:1050px){
   header li:nth-of-type(4),header li:nth-of-type(5),header li:nth-of-type(7),header li:nth-of-type(8){
    display:none;
  }

  h1{
    font-size:4rem;
    width:500px;

  }
}

@media (max-width: 986px){
  .section-3 {
 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
  
  }

  .section-3 .content{
    align-items: center;
  }

  .section-3 h2{
    font-size: 1.3rem;
  }

  .section-3 section{
    width:70%;
  }

  .section-3 .image{
    display:flex;
    justify-content: center;
    align-items: center;
  }

  
.stylists {
 
 flex-direction: column;
 align-items: center;
}

.stylists section {
 width:40%;
}

.lookbook .styles{
  width:70%;
}

}

@media screen and (max-width:723px){
 header li{
   font-size: 0.8rem;
   margin-right: 0.5rem;
 }

 header span{
   font-size: 0.8rem;
 }
 
  h1{
    font-size: 1.7rem;
    width:150px;
  }

  .main-content{
    margin-left: 1rem;
    height:22rem;
    width:60%;
    padding-left: 1rem;
  
  }
}

@media screen and (max-width:600px){
 header ul,header span{
   display:none
 }

 h1{
  font-size: 1.2rem;
  width:150px;
}

main p {
  font-size: 0.8rem;
}

 header{
   justify-content: space-between;
 }

 #side {
   font-size: 0.8rem;
 }

 button ,.info button{
  width:6rem;
  height:2rem;
  font-size: 0.6rem;
}

 .mobile-menu-button{
   display:inline-block;
   margin-right: 2rem;
   margin-top: 0.3rem;
 }

 .mobile-menu{
  visibility:visible;
}

 .info{
   width: 55%;
   font-size: 0.6rem;
   left:5%;
 }

 .info span{
   font-size: 0.5rem;
   padding-top:0;
   height:1rem;
 }

 .info h4{
   font-size: 0.6rem;
   margin-bottom: 0;
 }

 .info #discount{
   font-size: 1.5rem;
 }

 .info button{
   width:6rem;
   font-size: 0.6rem;
   height:2rem;
 }

 .services {
 
  justify-content: space-around;
}

.stylists section{
  width:65%;
}

.stylists a {
  width:7rem;
}

.details h3 {
  font-size: 1rem;
}

.details span {
font-size: 0.9rem;
}

#offer-discount{
  font-size: 1rem;
}

.details button {
  width:9rem;
}

.lookbook .styles{
  width:80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

 .style5{
  background: url(/images/grid2.jpeg) center/cover;

  grid-column: 1 ;
  grid-row: 4/5;
}

.style6{
  background: url(/images/grid6.jpg) center/cover;

  grid-column: 2 ;
  grid-row: 4/5;
}

.services {
  margin:0 auto;
  width:90%;
  display: flex;
  padding:3rem 2rem;
  justify-content: center;
  gap:2rem;
  flex-direction: column;
}
 }

 @media (max-width: 450px){
  .show {
    transform:translate3d(-170%,0,0);
  }
 }

 @media (max-width: 360px){
  .show {
    transform:translate3d(-200%,0,0);
  }
 }